body {
  text-align: left;
  background-image: url(https://bit.ly/2VwxxWw);
  background-size: 200vh;
}
h1,h4{
text-align: center;
}
.choose{
  display: none;
}
#mon1Attk, #mon2Attk {
  display: none;
}
.jumbotron{
  background-color: darkolivegreen;
  opacity: 85%;
}
 
#playAgain {
  display: none;
}